@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #524c61;
}

body {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 55vh auto;
  grid-template-areas: "hd hd hd";
}

#backImage {
  background-image: url("../images/esB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-area: hd;
}

#busqueda {
  width: 100%;
  height: 100%;
}

.generalBusqueda {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

.tituloBusqueda {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.OpcionesVerdaderas {
  width: 100%;
  padding-top: 1.5%;
}

.contBusqueda {
  width: 100%;
  padding: 1% 2% 2% 2%;
  border-radius: 6px;
  background-color: white;
  max-height: 60%;
  flex-wrap: wrap;
}
.contBusqueda h1 {
  font-weight: 400;
  font-size: 2.7em;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

.opcionesBusqueda {
  justify-content: flex-start;
}
.opcionesBusqueda input[type=radio] {
  display: none;
}
.opcion {
  width: 20%;
}
.opcion label {
  align-items: center;
  cursor: pointer;
  align-self: center;
  margin: 0;
}
.opcion span {
  font-size: 1.2em;
  margin-left: 2%;
  color: #817b8f;
}

.form {
  border-radius: 10px;
}

.formBusqueda {
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.opcionesLugares {
  flex: 1 1 420px;
}

.opcionesVarias {
  flex: 1;
  max-width: 210px;
}

.inputLugares {
  width: 40%;
}

.inputFechas {
  width: 39%;
}

.inputPAsajeros {
  width: 100%;
}

.inputPasajeros-Mobile {
  display: none;
}

.containerFechas {
  width: 100%;
  height: 100%;
}

.cuadroFechas {
  width: 100%;
  align-items: center;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.cuadroFechas .arrow {
  transition: 0.5s ease;
  display: flex;
}
.cuadroFechas .arrow svg {
  width: 24px;
  fill: #817b8f;
}

.inputIdaYVuelta, .inputIdaYVuelta2 {
  width: 42%;
  height: 100%;
}
.inputIdaYVuelta input, .inputIdaYVuelta2 input {
  border: 0;
}

.flatpickr-inputRange {
  padding-left: 10%;
}

#secondRangeInput {
  margin-left: 10%;
}

.inputsearch {
  display: flex;
  width: 8%;
  align-items: flex-end;
  padding-left: 0.2%;
}

.searchButton {
  border: 0;
  background-color: #d32f2f;
  width: 100%;
  height: 70%;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  font-size: 1.6em;
}

.pasaContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  text-align: -webkit-left;
  padding-bottom: 0.8em;
  white-space: nowrap;
}
.pasaContainer .cantPasajeroslabel {
  font-size: 1.2em;
  color: #524c61;
  margin-bottom: 0;
  user-select: none;
  height: 2.5em;
  letter-spacing: 0.1em;
}
.pasaContainer .cantPasajeros {
  width: 100%;
  height: 3.6em;
  position: relative;
}
.pasaContainer .cantPasajeros::before {
  content: "ˆ";
  position: absolute;
  right: 0.5em;
  text-align: center;
  font-size: 2em;
  line-height: 1;
  color: #2196f3;
  pointer-events: none;
  transform: rotate(180deg);
}

.OpcionesVerdaderas, .containerFechas {
  display: flex;
  flex-direction: column;
}

.inputLugares, .inputFechas, .inputPAsajeros {
  display: inline-flex;
  flex-direction: column;
}

.formBusqueda {
  display: inline-flex;
  flex-direction: row;
}

.opcion, .cuadroFechas {
  display: flex;
  flex-direction: row;
}

#busqueda, .generalBusqueda, .contBusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcionesBusqueda, .opcion label, .form {
  display: flex;
  width: 100%;
}

.opcionesLugares, .opcionesVarias {
  display: inline-flex;
  justify-content: space-between;
}

.opcionesBusqueda input[type=radio] + .labelBefore::before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 2px solid #817b8f;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 0.25s ease;
}

.opcionesBusqueda input[type=radio]:checked + .labelBefore::before {
  background-color: #2196f3;
  box-shadow: inset 0 0 0 2px #fff;
  border: 2px solid #2196f3;
}

.modal {
  z-index: 999;
  display: none;
  /* Hidden by default */
  background-color: white;
  width: 100%;
  /* Full width */
  padding: 0.5em 1em;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  pointer-events: auto;
}

.inputLugares, .inputFechas, .inputPAsajeros {
  background-color: white;
  padding: 0% 2% 0 0;
  border-radius: 9px;
  margin-right: 0.2%;
}

input {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5%;
  font-size: 1.6em;
  height: 100%;
  width: 100%;
}

button {
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  cursor: pointer;
}
button-:hover {
  font-weight: bolder;
}

label {
  font-size: 1.2em;
  color: grey;
  margin-bottom: 0.5em;
}

select {
  width: 100%;
  border: 1px solid #817b8f;
  font-size: 1.6em;
  padding: 2%;
  border-radius: 0.6em;
  color: #817b8f;
  outline: none;
  -webkit-appearance: button;
  overflow: hidden;
  line-height: 1.15;
}
select option {
  font-size: 1em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
}
@media (max-width: 1023px) {
  body {
    grid-template-rows: auto;
  }

  #backImage {
    background-image: none;
  }

  .contBusqueda {
    width: 100%;
    justify-content: center;
  }

  .tituloBusqueda {
    display: flex;
    width: 100%;
    min-height: 5.6em;
    justify-content: flex-start;
  }
  .tituloBusqueda h1 {
    font-size: 2.4em;
    font-weight: 300;
    color: #817b8f;
  }

  .OpcionesVerdaderas {
    max-width: 500px;
    padding: 1.8em 1.2em;
  }
  .OpcionesVerdaderas .opcion {
    width: 40%;
  }

  .opcionesBusqueda {
    width: 100%;
  }

  .formBusqueda {
    flex-direction: column;
  }

  .labelBefore {
    font-size: 1em;
  }

  .opcionesLugares {
    flex-direction: column;
    flex: 0;
  }

  .opcionesVarias {
    display: flex;
    width: 100%;
    flex: 0;
    max-width: 100%;
  }

  .inputFechas {
    width: 100%;
    height: auto;
  }

  .inputLugares, .containerFechas {
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
    justify-content: flex-end;
  }
  .inputLugares input, .containerFechas input {
    flex-wrap: wrap;
    height: auto;
    padding: 0.6em;
    font-size: 1.6em;
    flex-basis: 73%;
  }
  .inputLugares label, .containerFechas label {
    padding-right: 1em;
    font-size: 1.3em;
  }

  .cuadroFechas {
    width: 73%;
    height: auto;
  }

  .inputPAsajeros {
    display: none;
  }

  .inputPasajeros-Mobile {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0;
  }
  .inputPasajeros-Mobile label {
    align-self: center;
    margin: 10% 3% 3% 3%;
  }

  .modal-content {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }

  .datosPasajeros {
    display: flex;
    width: 77%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .datosPasajeros .cantPasajeroslabel {
    font-size: 1.1em;
    letter-spacing: 0;
  }
  .datosPasajeros select {
    width: 92%;
    height: 2.25em;
    padding: 0.5em;
  }

  .inputsearch {
    width: 100%;
  }
  .inputsearch .searchButton {
    padding: 1em;
    height: 100%;
  }

  .claseContainer {
    display: flex;
    flex-direction: row;
  }

  .containerGeneralOP {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
  }
  .containerGeneralOP .opcionesClases {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 1.5em 0;
  }
  .containerGeneralOP .opcionesClases label {
    margin: 0;
  }
}
@media (min-width: 1023px) and (max-width: 1279px) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 5vh;
  }

  .inputLugares {
    width: 30%;
  }
}
@media (min-width: 1279px) and (max-width: 1919px) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 10vh;
  }
}
@media (min-width: 1919px) and (max-width: 1921px) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 7vh;
  }
}
@media (min-width: 1922px) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 3vh;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 8vh;
  }
}
@media only screen and (min-width: 1279px) and (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .inputLugares, .inputFechas, .inputPAsajeros {
    height: 7vh;
  }
}

/*# sourceMappingURL=style.css.map */
